.bookmark{
    width: 100%;
    margin-top: 80px;
}
.bookmark h1{
    text-align: center;
    margin: 10px 15px;
}
.container{
    width: 60%;
    margin: 20px auto;
    padding: 0 15px;
    height: 100vh;
    overflow-y: auto;
}
.container a{
    color: black;
}
.saved-property{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    padding: 15px;
    border-radius: 8px;
}
.img-name{
    width: 70%;
    height: 100%;
}
.img-name img{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.price-location{
    width: 30%;
}
.price-location h2{
    margin: 10px 0 0 10px;
}
.action{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.action button{
    background: #dc143c;
}
@media screen and (max-width: 650px){
    .container::-webkit-scrollbar{
        display: none;
    }
    .bookmark h1{
        font-size: 1rem;
    }
    .container{
        width: 95%; 
    }
    .container h2{
        font-size: 1rem;
    }
    .saved-property{
        height: 200px;
    }
    .price-location h2{
        font-size: .8rem;
    }
}