.prop-details{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.fa{
    cursor: pointer;
}
.details-section{
    width: 60%;
    padding: 0 20px;
}
.details-section .property-img{
    height: 350px;
    margin-top: 15px;
    border-radius: 5px;
}
.details-section .property-img img{
    border-radius: 5px;
}
.name-price h1{
    margin-left: 15px;
    color: blueviolet;
}
.name-price h2{
    color: blueviolet;
}
.more-images{
    max-width: 80%;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 15px auto;
}
.more-images::-webkit-scrollbar{
    display: none;
}
.img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 0 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    transition: transform .5s;
}
.img:hover{
    transform: scale(1.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.more{
    display: flex;
    margin: 5px;
}
.more .fa{
    margin-right: 10px;
    color: blueviolet;
}
.more p{
    margin-left:  5px;;
}
.location-interior{
    font-weight: bolder;
    margin-top: 20px;
}
.property-desc{
    height: 100px;
    width: 80%;
    margin-top: 10px;
}
.property-desc h2{
    color: blueviolet;
}
.agent-section{
    width: 30%;
}
form{
    width: 100%;
    margin-top: 20px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
}
form input{
    border: 1px solid rgba(0, 0, 0, .3);
    width: 100%;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
form label{
    text-align: left;
    display: block;
    margin-bottom: 10px;
}
form textarea{
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

.contact-img{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.contact-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
}
.contacts{
    margin-top: 20px;
    text-align: center;
}
.contacts .fa, .fa-brands{
    margin-right: 15px;
    
}
form input:focus, form textarea:focus{
    border: 1px solid blueviolet;
}

@media screen and (max-width: 700px) {
    .prop-details{
        flex-direction: column;
    }
    .details-section, .agent-section{
        width: 100%;
        margin: 0 auto;
    }
    .property-desc{
        height: unset;
        width: 95%;
        margin: 10px 0;
    }
    .property-desc h2{
        font-size: 1rem;
    }
    .property-desc p, .more p{
        font-size: .8rem; 
    }
    .name-price h1{
        font-size: 1.2rem;
    }
    .name-price h2{
        font-size: .8rem; 
    }
    form{
        text-align: center;
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    .details-section .property-img{
        height: 300px;
    }
}