.properties{
    margin-top: 80px;
    width: 100%;
    color:black;
    min-height: 100vh;
    position: relative;
}
.filters{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background: #fff;
}
.drop-down{
    width: 27%;
    position: relative;
    margin: 0 auto;
    height: 70px;
    cursor: pointer;
}
.drop-down-btn{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    font-size: .8rem;
    
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    border-radius: 5px;
    background: #fff;
}
.drop-down-title{
    margin-left: 8px;
    display: flex;
    align-items: center;
    height: 100%;
}
.drop-down-title .name{
    font-weight: 700;
}
.drop-down-btn .fa{
    margin-right: 8px;
}
.drop-down-menu{
    width: 100%;
    position: absolute;
    height: 150px;
    top: 70px;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    list-style: none;
    background: #fff;
    display: none;
    overflow-y: auto;
    z-index: 99;
}
.drop-down-menu.toggle{
    display: block; 
}
.drop-down-menu li{
    margin: 15px;
    color: #141414;
    cursor: pointer;
    border-bottom: 1px solid #141414;
}

.all-properties{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    width: 95%;
    margin: 60px auto;
}
.props{
    transition: box-shadow .2s;
    border-radius: 5px;
    position: relative;
}
.props:hover{
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
}
.props:hover .property-img{
    transform: scale(1.03);
}
.search{
    width: 10%;
    background: blueviolet;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}
@media screen and (max-width: 768px){
    .filters{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .drop-down{
        width: 50%;
        margin-bottom: 5px;
    }
    .all-properties{
        margin-top: 70px;
    }
    .search{
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .filters{
        /* flex-direction: column; */
        height: 200px;
    }
    .all-properties{
        margin-top: 100px ;
    }
    .drop-down{
        width: 95%;
        height: 70px;
        margin: 5px;
    }
}