.newsletter{
    width: 80%;
    margin: 30px auto;
    height: 300px;
    position: relative;
    border-radius: 10px;
}
.newsletter img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.newsletter .overlay{
    height: 100%;
}
.news-email{
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(3px);
    margin-top: 20px;
}
.newsletter h1{
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.newsletter h2{
    font-size: 1rem;
}
.news-email #email{
    width: 90%;
    background: none;
    border: none;
    outline: none;
    height: 100%;
    padding: 10px 15px;
    color: #FFF;
    margin: 0; 
    border-radius: 20px;
}
.news-email button{
    border-radius: 20px;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .newsletter{
        width: 95%;
        text-align: center;
    }
    .news-email{
        width: 90%;
        height: 35px;
    }
    .newsletter h1{
        font-size: 1.1rem;
        margin: 0 10px;
    }
    .newsletter .overlay h2{
        font-size: 1rem;
        margin: 0 10px;
    }
}
